<div class="product-delivery">
  <h5>
    <strong>Shipping and Handeling</strong>
  </h5>
  <ul>
    <li>
      <strong>Free Shipping</strong>
      in the Netherlands on orders above €50</li>
    <li>Order before
      <strong>16:00 is next day delivery</strong>
    </li>
    <li>Average delivery times
      <strong>1-2 business days</strong>
    </li>
    <li>Track and trace provided</li>
    <li>Read more on&nbsp;<strong>
        <a href="https://www.ben-g.nl/pages/shipping-returns" title="Shipping information">shipping and handeling</a>
      </strong>
    </li>
  </ul>
</div>