{% if content_for_header contains "penidapify" %}<div class='logo-showcase-content' style="display: none;"><div class="logo-content" style="background: rgb(255, 255, 255);"><div class="logo-left-side logo-divider" style="text-align: center;border-color: #000">
                            <span class="sub-title" style="color: #707070">Brands @ </span>
                            <h3 class="title" style="color: #000000;">Ben-G</h3>
                            
                        </div><div class="logo-list swiper mySwiper "><div class="logo-details logo1 swiper-slide" style="text-align: center;">
                            <a href="https://www.ben-g.nl/collections/huf">
                            <img src="https://penidapify.com/uploads/277_424389502_1636980727.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo2 swiper-slide" style="text-align: center;">
                            <a href="https://www.ben-g.nl/collections/obey">
                            <img src="https://penidapify.com/uploads/277_250534607_1636980727.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo3 swiper-slide" style="text-align: center;">
                            <a href="https://www.ben-g.nl/collections/stussy-1">
                            <img src="https://penidapify.com/uploads/277_721580745_1636980727.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo4 swiper-slide" style="text-align: center;">
                            <a href="https://www.ben-g.nl/collections/nike-sb">
                            <img src="https://penidapify.com/uploads/277_791506698_1636980727.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo5 swiper-slide" style="text-align: center;">
                            <a href="https://www.ben-g.nl/collections/polar">
                            <img src="https://penidapify.com/uploads/277_720094716_1636980727.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo6 swiper-slide" style="text-align: center;">
                            <a href="https://www.ben-g.nl/collections/fucking-awesome">
                            <img src="https://penidapify.com/uploads/277_196938228_1636980727.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div><div class="logo-details logo7 swiper-slide" style="text-align: center;">
                            <a href="https://www.ben-g.nl/collections/helas">
                            <img src="https://penidapify.com/uploads/277_362800131_1636980727.png">
                            <h3 class="title" style="color: #000000;"></h3>
                            <span class="sub-title" style="color: #707070;"></span>
                            </a>
                        </div></div></div></div>{% endif %}
{% schema %}
  {
    "name": {
      "en": "Logo showcase"
    },
    "class": "logo-showcase-section",
    "presets": [
      {
        "name": "Logo showcase",
        "category": "Logo"
	  }
    ]
  }
{% endschema %}