<div class="index-wrapper">
  {{ content_for_index }}
</div>
<div class="reputon-google-reviews-widget" id="f99c4b40-0676-11ec-8035-c5856607b4ee" style="display: flex; justify-content: center;"></div>